.node-red/flows_LAPTOP-OU09C6C0.json
[{"id":"b3e462c7.b5e43","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ea913f7b.2e30c","type":"inject","z":"b3e462c7.b5e43","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":80,"wires":[["dc42dfd9.e764"]]},{"id":"8990dbb4.da73d8","type":"debug","z":"b3e462c7.b5e43","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":120,"wires":[]},{"id":"dc42dfd9.e764","type":"function","z":"b3e462c7.b5e43","name":"","func":"msg.payload =\"Hello world!!!!\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":220,"wires":[["8990dbb4.da73d8"]]}]